openapi: 3.1.0

info:
  title: ICANN RST API
  description: |
    ICANN Registry System Testing (RST) API.
  version: 1.0.0
  termsOfService: https://www.icann.org/resources/registry-system-testing
  contact:
    name: Internet Corporation for Assigned Names and Numbers (ICANN)
    url: https://www.icann.org/resources/registry-system-testing
    email: rst@icann.org

servers:
  - url: https://api.rst.icann.org/v1

components:
  schemas:

    testRequest:
      description: An object representing a request for a test submitted by a client.
      type: object
      properties:
        id:
          description: Unique ID for this test request.
          type: integer
          format: uint64
          examples: [987654321]

        requester:
          description: Unique ID for the user that submitted this request.
          type: string
          examples: [example]

        dateRequested:
          description: date/time when this request was submitted.
          type: string
          format: date-time

        dateStarted:
          description: date/time when the test run started (which may be null).
          type:
            - string
            - "null"
          format: date-time
          default: null

        dateCompleted:
          description: date/time when the test run finished (which may be null).
          type:
            - string
            - "null"
          format: date-time
          default: null

        status:
          description: |
            The status of this request.
            1. The **requested** value indicates that the request has been received, but a test run has not yet started.
            2. The **in-progress** value indicates that the test run has started, but has not yet been completed.
            3. The **completed** value indicates that the test run has completed.
          type: string
          enum:
            - requested
            - in-progress
            - completed
          default: requested

        result:
          description: |
            The outcome of the test run.
            1. The **pass** value indicates that the test run completed with no errors.
            2. The **fail** value indicates that at least one test failed.
            3. The **error** value indicates that an internal issue prevented the test run from completing.
            
            This value will be **null** unless the value of the *status* property has the value **completed**.
          type:
            - string
            - "null"
          enum:
            - pass
            - fail
            - error
          default: null

        testPlan:
          description: |
            The test plan used requested.
          oneOf:
            - $ref: "#/components/schemas/testPlanReference"
            - $ref: "#/components/schemas/testPlan"

        testParameters:
          description: |
            The test parameters provided by the requester.
          oneOf:
            - $ref: "#/components/schemas/testParameter"

        testResults:
          description: |
            The result of the test run.

    eppTestParameters:
      description: Input parameters for EPP tests.
      type: object
      properties:
        xml:
          description: XML input file.
          type: string

    rdapTestParameters:
      description: Input parameters for RDAP tests.
      type: object
      properties:

    rdeTestParameters:
      description: Input parameters for RDE tests.
      type: object
      properties:

    idnTestParameters:
      description: Input parameters for IDN tests.
      type: object
      properties:

    dnsTestParameters:
      description: Input parameters for DNS tests.
      type: object
      properties:

    dnssecTestParameters:

    proxytestParameters:

    testParameter:
      description: This object represents the parameters provided by the client which will be used to carry out tests.
      type: object
      properties:
        eppTestParameters:
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/eppTestParameters"
        rdapTestParameters:
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/rdapTestParameters"
        rdeTestParameters:
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/rdeTestParameters"
        idnTestParameters:
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/idnTestParameters"
        dnsTestParameters:
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/dnsTestParameters"
        dnssecTestParameters:
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/dnssecTestParameters"
        proxytests:
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/proxytestParameters"

    testPlanReference:
      description: Instead of providing a detailed test plan, one of the following reference codes may be used instead.
      type: string
      enum:
        - all-tests
        - all-epp-tests
        - all-rdap-tests
        - all-rde-tests
        - all-idn-tests
        - all-dns-tests
        - all-dnssec-tests
        - all-proxy-tests

    eppTestReference:
      description:
      type: string
      enum:
        - eppTest01
        - eppTest02
        - eppTest03
        - etc

    rdapTestReference:
      description:
      type: string
      enum:
        - rdapTest01
        - rdapTest02
        - rdapTest03
        - etc

    rdeTestReference:
      description:
      type: string
      enum:
        - rdeTest01
        - rdeTest02
        - rdeTest03
        - etc

    idnTestReference:
      description:
      type: string
      enum:
        - rdeTest01
        - rdeTest02
        - rdeTest03
        - etc

    dnsTestReference:
      description:
      type: string
      enum:
        - dnsTest01
        - dnsTest02
        - dnsTest03
        - etc

    dnssecTestReference:
      description:
      type: string
      enum:
        - dnssecTest01
        - dnssecTest02
        - dnssecTest03
        - etc

    proxyTestReference:
      description:
      type: string
      enum:
        - proxyTest01
        - proxyTest02
        - proxyTest03
        - etc

    testPlan:
      description: An object representing a test plan. A test plan is a set of test cases, grouped by area.
      type: object
      properties:
        eppTests:
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/eppTestReference"
        rdapTests:
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/rdapTestReference"
        rdeTests:
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/rdeTestReference"
        idnTests:
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/idnTestReference"
        dnsTests:
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/dnsTestReference"
        dnssecTests:
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/dnssecTestReference"
        proxytests:
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/proxyTestReference"


paths:
  /tests:
    get:
      description: |
        Retrieve a list of test requests.
        * normal users will see all requests they've submitted.
        * superusers will see all requests
      parameters:
        - name: client
          in: query
          required: false
          schema:
            type: string
          description: limit results to specific client (superuser access only)
      responses:
        '200':
          description: A successful response.
          content:
            "application/json":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/testRequest"
